.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 5px 0;
}

.botao:hover {
    color: #95FFD4;
}